parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    ignoreErrors:
        - '/Generator expects value type Symfony\\Component\\HttpKernel\\Bundle\\BundleInterface\, object given\./'
